body {
    background-color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
   text-decoration: none;
   color: inherit; 
}

ul, {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}
img {
    display: block;
}

/* HEDER */

.header {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-color-logo {
    color: #2e2f42;
}

.header-nav {}

.header-nav-list {}

.header-nav-item {}

.header-nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-contacts-list {}

.header-contacts-item {}

.header-contacts {
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.header-contacts:hover,
.header-contacts:focus {
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

 /* section Our strengths */

.strengths {}

.strengths-list {}

.strengths-item {}

.strengths-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.strengths-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/* Our team */

.team {
    background-color: #F4F4FD
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {}

.team-item {
    background-color: #FFFFFF
}

.team-member {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* section our portfolio */

.portfolio {}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list {}

.potrfolio-item {}

.portfolio-product {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* footer */

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-color-logo {
    color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}